/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilo del body*/
body {
  background-color: #fff;
}

/* estilo del header*/
.span-logo {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #d0af8a;
  font-size: 17px;
}

.nav-item,
li {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.2;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #d0af8a;
}

.slider {
  display: none;
}

/* estilo del main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main h2 {
  margin: 0 0 20px 0;
  font-family: 'Roboto', sans-serif;
  color: #d0af8a;
  letter-spacing: .05em;
}

main h3 {
  margin: 0.7em;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  letter-spacing: .03em;
  color: #777674;
}

main h4 {
  color: #777777;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: .1em;
  margin-top: 10px;
}

main p {
  padding: 1rem;
  color: #777777;
  font-family: 'Poppins', sans-serif;
}

main button {
  align-items: center;
}

main .imagen {
  border-radius: 10px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #d0af8a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* estilos del footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 0 30px 0 30px;
}

footer ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: left;
}

footer li {
  list-style-type: none;
}

footer li img {
  width: 80%;
}

.social1 {
  display: flex;
  align-items: center;
}

footer h5 {
  font-size: 15px;
}

@media screen and (min-width:510px) {
  .slider {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  main {
    display: grid;
    padding: 10px 0 0 10px;   
    grid-template-areas:      
      "h3 h3 h3" 
      "h2 h2 h2" 
      "solid solid solid"
      "imagen h4 h4 "
      "imagen p p" 
      "imagen p-dos p-dos" 
      "imagen button button"
      "h3-quienesomos h3-quienesomos h3-quienesomos"
      "solid-quienessomos solid-quienessomos solid-quienessomos"      
      "h3i1 h3i2 h3i3"
      "imagen1 imagen2 imagen3"
      "p-tres p-cuatro p-cinco"
    ;
  }
  main h3 {
    grid-area: h3;
  }

  main h2 {
    grid-area: h2;
    
  }
  main h4 {
    grid-area: h4;
    text-align: left;
    margin-left: 0.5em;
    margin-top: 20px;
  }
  main .imagen {
    grid-area: imagen;
    margin-right: 10px;
  }

  main p {
    grid-area: p;
    text-align: left;
  }
  main .p-dos {
    grid-area: p-dos;
    text-align: left;
  }

  main .button {
    grid-area: button;
    margin-left: 0.8em;
  }
  main .solid {
    grid-area: solid;
    border-top: 2px solid #bbb;
    width:40%;
    margin: auto;
    padding-bottom: 10px;
    
  }
  main .h3i1{
    grid-area: h3i1;  
    
  }
  main .h3i2{
    grid-area: h3i2;
  }
  main .h3i3{
    grid-area: h3i3;
  }
  main .imagen1{
    grid-area: imagen1;
    margin: auto;
  }
  main .imagen2{
    grid-area: imagen2;
    margin: auto;
  }
  main .imagen3{
    grid-area: imagen3;
    margin: auto;
  }
  main .p-tres{
    grid-area: p-tres;
    width: 60%;
    margin: auto;
    text-align: center;
    }
  main .p-cuatro{
    grid-area: p-cuatro;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  main .p-cinco{
    grid-area: p-cinco;
    width: 60%;
    margin: auto;
    text-align: center;
  }
  main .h3-quienesomos{
    grid-area: h3-quienesomos;
  }
  main .solid-quienessomos {
    grid-area: solid-quienessomos;
    width: 50%;
    margin: auto;
  }
}