@import "utilidades/mixin";

/* Vista adaptada para dispositivos mayores a 510px*/
@media screen and (min-width:510px) {

  /* Vista adaptada para area Main */
  .display-1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 65px;
    text-shadow: #FC0 1px 0 10px;
  }


  main {
    display: grid;
    padding: 10px 0 0 10px;
    grid-template-areas:
      //grid pagina index//
      "h3 h3 h3"
      "h2 h2 h2"
      "solid solid solid"
      "imagen h4 h4 "
      "imagen p p"
      "imagen p-dos p-dos"
      "imagen button button"
      //grid pagina quienes somos//
      "h3-quienesomos h3-quienesomos h3-quienesomos"
      "solid-quienessomos solid-quienessomos solid-quienessomos"
      //grid pagina quienes somos - El equipo//
      "h3i1 h3i2 h3i3"
      "imagen1 imagen2 imagen3"
      "p-tres p-cuatro p-cinco"
      //grid pagina servicios //
      "solid-servicios solid-servicios solid-servicios"
      "serv-imagen-dos ser-h4 ser-h4"
      "serv-imagen-dos ser-p-tres ser-p-tres"
      "serv-imagen-dos ser-p-cuatro ser-p-cuatro"
      "serv-imagen-dos ser-button ser-button"
    ;

    h3 {
      grid-area: h3;
    }

    h2 {
      grid-area: h2;
    }

    h4 {
      grid-area: h4;
      text-align: left;
      margin-left: 0.5em;
      margin-top: 20px;
    }

    .imagen {
      grid-area: imagen;
      margin-right: 10px;
      margin-left: 1rem;
    }

    p {
      grid-area: p;
      text-align: left;
    }

    .p-dos {
      grid-area: p-dos;
      text-align: left;
    }
    ul{
      list-style: circle;
      text-align: left;
      color: $colorsecundario;
    }
    .button {
      grid-area: button;
      margin-left: 0.8em;
    }

    .solid {
      grid-area: solid;
      border-top: 2px solid #bbb;
      width: 40%;
      margin: auto;
      padding-bottom: 2.5rem;

    }

    .h3i1 {
      grid-area: h3i1;
      color: $colorsecundario;
      font-weight: bold;
    }

    .h3i2 {
      grid-area: h3i2;
      color: $colorsecundario;
      font-weight: bold;
    }

    .h3i3 {
      grid-area: h3i3;
      color: $colorsecundario;
      font-weight: bold;
    }

    .imagen1 {
      grid-area: imagen1;
      margin: auto;
      border-radius: 10px;
    }

    .imagen2 {
      grid-area: imagen2;
      margin: auto;
      border-radius: 10px;
    }

    .imagen3 {
      grid-area: imagen3;
      margin: auto;
      border-radius: 10px;
    }

    .p-tres {
      grid-area: p-tres;
      @include info-equipo;
    }

    .p-cuatro {
      grid-area: p-cuatro;
      @include info-equipo;
    }

    .p-cinco {
      grid-area: p-cinco;
      @include info-equipo;
    }

    .h3-quienesomos {
      grid-area: h3-quienesomos;
      font-size: 20px;
      margin: 2rem;
      font-weight: bold;
    }

    .solid-quienessomos {
      grid-area: solid-quienessomos;
      width: 50%;
      margin: auto;
      margin-bottom: 2.5rem;
    }

    //Estilos de Pagina de Servicios
    .solid-servicios {
      grid-area: solid-servicios;
      border-top: 2px solid #bbb;
      width: 60%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .serv-imagen-dos {
      grid-area: serv-imagen-dos;
      margin: auto;
      border-radius: 10px;
    }

    .ser-h4 {
      grid-area: ser-h4;
      text-align: left;
      margin-left: 0.5em;
      margin-top: 20px;
    }

    .ser-p-dos {
      grid-area: ser-p-dos;
      text-align: left;
      margin-left: 0.5em;
      margin-top: 20px;
    }

    .ser-p-tres {
      grid-area: ser-p-tres;
      text-align: left;
      margin-left: 0.5em;
      margin-top: 10px;
    }

    .ser-p-cuatro {
      grid-area: ser-p-cuatro;
      text-align: left;
      margin-left: 0.5em;
      margin-top: 10px;
    }

    .ser-button {
      grid-area: ser-button;
      margin-left: 0.8em;
      @include estilobutton;

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

      &:hover {
        span {
          padding-right: 25px;
        }

        span:after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }


  .page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../img/header.jpg) top left no-repeat;
    background-size: cover;
  }

  .page-header .breadcrumb-item,
  .page-header .breadcrumb-item a {
    font-weight: 500;
  }

  .page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--tertiary);
  }

  //***Estilos de Pagina de Productos*/
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    gap: 1em;
    flex-wrap: wrap;
  }

  .flex-item-1 {
    background-color: $colorbg-item-producto;
    padding: 10px;
    flex: 20%;
  }

  .nombre-prod {
    @include estiloproductos;
    color: $color-nombre-producto;

  }

  .precio-prod {
    @include estiloproductos;
    color: $color-precio-producto;
  }

  /***Estilos de Pagina de Contacto*/
  .flex-contacto {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: left;
    width: 550px;
  }

  .info-contacto {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: left;
    left: 0;
  }

  .items-contacto {
    color: $colorsecundario;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 13px;
  }


  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 10%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-contacto {
    margin: 0 5px 0 5px;
    text-align: left;
  }

  label {
    color: $colorsecundario;
  }

  /*** Header ***/

  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 3rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
  }

  .carousel-control-prev-icon {
    border-radius: 0 3rem 3rem 0;
  }

  .carousel-control-next-icon {
    border-radius: 3rem 0 0 3rem;
  }
}

#header-carousel .carousel-item {
  position: relative;
  min-height: 450px;
}

#header-carousel .carousel-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}