// colores principales
$color-fondo: rgb(255, 255, 255);
$colorprincipal: #d0af8a;
$colorsecundario: #d0af8a;
$colorparrafos: #777674;
$colorbg-item-producto: #f2f7ec;
$color-nombre-producto: #777777;
$color-precio-producto: #d0af8a;
$color-button: #d0af8a;