// colores principales
$color-fondo: rgb(255, 255, 255);
$colorh2:#d0af8a;
$colorh5:#d0af8a;
$color-item-menu:#d0af8a;
$colorbg-item-producto:#f2f7ec;
$color-nombre-producto:#777777;
$color-precio-producto:#d0af8a;
$color-button:#d0af8a;


