// colores principales
$color-fondo: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(198,195,185,0.2497373949579832) 100%);
$colorprincipal: #d0af8a;
$colorsecundario: #d0af8a;
$colorparrafos: #777674;
$colorbg-item-producto: #f2f7ec;
$color-nombre-producto: #777777;
$color-precio-producto: #d0af8a;
$color-button: #d0af8a;
$color-h5footer: #777674;;